# exclude those files from pre-commit checks
exclude: ".vscode"

repos:
  # Sync Python and pre-commit package versions
  # pyproject.toml -> uv.lock
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.15
    hooks:
      - id: uv-lock

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Filesystem
      - id: check-illegal-windows-names
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      # Security
      - id: detect-private-key
      # Text encoding/formatting
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      # Python
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      # Symlinks
      - id: check-symlinks
      - id: destroyed-symlinks
      # File validation
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      # File formatting
      - id: pretty-format-json
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      # Python files
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      # reStructuredText files
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      # UTF-8 encoding
      - id: text-unicode-replacement-char

  # All files
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
        exclude_types: [jupyter]
  - repo: https://github.com/google/keep-sorted
    rev: v0.7.1
    hooks:
      - id: keep-sorted

  # Markdown files
  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-footnote
          - mdformat-gfm-alerts

  # reStructuredText files
  - repo: https://github.com/PyCQA/doc8
    rev: v2.0.0
    hooks:
      - id: doc8

  # Python files
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black
        args: [--line-length=120]
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==25.11.0]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        alias: ruff-isort
        name: ruff isort
        args: [--select, I001, --fix]
      - id: ruff-check

  # pyproject.toml
  - repo: https://github.com/henryiii/validate-pyproject-schema-store
    rev: 2025.11.21
    hooks:
      - id: validate-pyproject
